<ul>
    {{#each stocks as |stock|}}
        <li>
            {{#link-to "stock-item" stock}}
                {{stock.name}} ({{stock.symbol}})
            {{/link-to}}
        </li>
    {{/each}}
</ul>
