{{yield}}
<ul>
    {{#each stocks as |stock|}}
        <li>
            {{#link-to "stocks.detail" stock}}
                {{stock.name}} ({{stock.symbol}})
            {{/link-to}}
        </li>
    {{/each}}
</ul>